.container {
    display: flex;
}
.merz {
    flex-direction: row;
}

header {
    text-align: center;
    position: sticky;
}


img {
    height: 200px;
}
/*
#GreatAmericanNude {
    background: url("https://i.discogs.com/ShfocTKN_f8pBF459XjY91U-DFSKUfchEgMfdD4FSYs/rs:fit/g:sm/q:90/h:600/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTE4Mzcx/Mi0xNjUyNDgzMjU5/LTE0MzMuanBlZw.jpeg");
}

#Noisembryo {
    background: url("https://i.discogs.com/MpSX_v1C4SMB6qVWm7qFw8owfMlJxmKRQPwchb2G4mw/rs:fit/g:sm/q:90/h:600/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTEwMjMx/Ny0xMzAyMDYyNzI4/LmpwZWc.jpeg");
}

#Venerology {
    background: url("https://i.discogs.com/y59WjDWoShYbpyu6Lke6JdLSe0Wfw7KZK8DIfWe2Cew/rs:fit/g:sm/q:90/h:598/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTk2Nzg1/LTE2Mjg2Mzc4Nzct/NDM3MS5qcGVn.jpeg");
} 

#ElectricSalad {
    background: url("https://i.discogs.com/hGyrBvwxkFZ2pRVC8HRJ7yDxJJeetJT0udNHEq0OEJA/rs:fit/g:sm/q:90/h:600/w:599/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTEwMjMx/NS0xMzA1Njk5MDQ2/LmpwZWc.jpeg");
} 
#PulseDemon {
    background: url("https://i.discogs.com/0KdCwYbi4E3ZWK7hv90kRzfRLL4RwIE3eCdeEP3-JPs/rs:fit/g:sm/q:90/h:519/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTk2Nzk3/LTE2NDM2NzI2MDIt/ODg1NS5qcGVn.jpeg");
} 
#SpiralHoney {
    background: url("https://i.discogs.com/HERTh1C4wM_c6lTzRiIpSvlxtCdTze8xS4O6UByR-TQ/rs:fit/g:sm/q:90/h:484/w:550/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTEwMjM0/OC0xMTcwNTQxMDE2/LmpwZWc.jpeg");
} 

#SpaceMetalizer {
    background: url("https://i.discogs.com/BdvdxUss5dFXfYXdKbZ2J7aZ_0cwCUrB8t2j426gKqg/rs:fit/g:sm/q:90/h:597/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTk2Nzkx/LTExNjgyMTU5NjUu/anBlZw.jpeg");
}
#Vibractance {
    background: url("https://i.discogs.com/l2yZnQ_1jHgFbQpRU0raNQS1xlUXyM3QS3ZjnAE63Zs/rs:fit/g:sm/q:90/h:597/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTIyMzI5/Ni0xNTMwNDA0NzI1/LTk5NzIucG5n.jpeg");
}
#Psychorazer {
    background: url("https://i.discogs.com/gUOvtuSuFPdvSlW8ErSSbEY1TrZHBj0YEaZGCeCTYNE/rs:fit/g:sm/q:90/h:590/w:596/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTE4NjY5/Mi0xMzM1Mzc5NjMy/LmpwZWc.jpeg");
}
#AquaNecromancer {
    background: url("https://i.discogs.com/Ei6BgziBM3K4DoT8JmDxx95ODWiWnlYKUsWavAjO7_c/rs:fit/g:sm/q:90/h:551/w:540/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTE4MzY5/OC0xMTY4MjE2MzYy/LmpwZWc.jpeg");
}
#Tauromachine {
    background: url("https://i.discogs.com/0sNXEy7qkUigP96gpWQucSjmo_ZWuKHCfFRmK_wKodM/rs:fit/g:sm/q:90/h:575/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTIzMzM3/LTE2MTg5NDk4NDMt/NDA5NS5wbmc.jpeg");
}
#Tentacle {
    background: url("https://i.discogs.com/NBtU_-ynNHShqLyfEot_ISV5NDcLFDvdqV40Wgvy-eE/rs:fit/g:sm/q:90/h:600/w:600/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTEwMDY0/Mi0xMzI3NTc1OTA2/LmpwZWc.jpeg");
}*/